@import '../../shared';

.businessCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: $very-dark-blue;
    color: $white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    @media only screen and (min-width: #{$desktop}) {
        width: rem(317px);
        margin: rem(44px) auto;    
    }

    &__child {
        display: flex;
        flex-direction: column;
    }

    &__margins {
        margin-left: rem(31px);   
        margin-right: rem(39px);
    
    }

    &__h3 {
        margin-bottom: 0;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
    }

    &__p {
        color: $text-gray;
        font-size: 10.24px;
        line-height: $line-height-p;
    }
}