@use 'sass:math';

//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// visuallyhidden()
// hides element graphically but makes it available for screen readers
@mixin visuallyhidden() {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Global classes
.visuallyHidden {
  @include visuallyhidden();
}

// COLORS
$white: #FFFFFF;
$dark-blue: #23252C;
$very-dark-blue: #1A1B21;
$skin: #F3BF99;
$text-gray: #DCDCDC;


// FONT
$font-weight-bold: 700;
$font-size-small: rem(10px);
$font-size-medium: rem(16px);
$font-size-big: rem(25px);

// LINE HEIGHTS
$line-height-p: 15.36px;

// BREAKPOINT
$desktop: 1024px;


